@font-face {font-family: "Ionicons";
  src: url('./../assets/imgs/tab/iconfont.eot'); /* IE9*/
  src: url('./../assets/imgs/tab/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./../assets/imgs/tab/iconfont.woff') format('woff'),
  url('./../assets/imgs/tab/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./../assets/imgs/tab/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.ion-md-synthesis:before { content: "\e61e"; }

.ion-ios-synthesis:before { content: "\e61e"; }

.ion-ios-synthesis-outline:before { content: "\e61e"; }


.ion-md-threeD:before { content: "\e625"; }

.ion-ios-threeD:before { content: "\e625"; }

.ion-ios-threeD-outline:before { content: "\e625"; }